<div style="border: 1px solid red">Create-tenant Component</div>

<div class="create-tenant">

  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Name</mat-label>
      <input matInput placeholder={{tenant.firstName}} [(ngModel)]="tenant.firstName">
      <mat-hint>string</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Last name</mat-label>
      <input matInput placeholder={{tenant.lastName}} [(ngModel)]="tenant.lastName">
      <mat-hint>string</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Personal code</mat-label>
      <input matInput placeholder={{tenant.personalCode}} [(ngModel)]="tenant.personalCode">
      <mat-hint>string</mat-hint>
    </mat-form-field>
  </p>
  <p>
  <mat-form-field>
    <mat-label>Birth date - <strong style="color:red;">mandatory</strong></mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="tenant.birthday">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Phone number</mat-label>
      <input matInput placeholder={{tenant.phoneNumber}} [(ngModel)]="tenant.phoneNumber">
      <mat-hint>string</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Email</mat-label>
      <input matInput placeholder={{tenant.email}} [(ngModel)]="tenant.email">
      <mat-hint>string</mat-hint>
    </mat-form-field>
  </p>

  <h4>Address (apartment) - optional</h4>
  <mat-form-field>
    <mat-label>Address</mat-label>
    <mat-select [(ngModel)]="tenant.apartmentId">
      <mat-option>None</mat-option>
      <div *ngFor="let apartment of apartments">
        <div *ngIf="apartment.house!=null; then selectApartmentThenBlock"></div>
        <ng-template #selectApartmentThenBlock>
          <mat-option [value]="apartment.id">
            {{apartment.house.country}}, {{apartment.house.city}}, {{apartment.house.street}} {{apartment.house.number}} Apartment:{{apartment.number}}, {{apartment.house.postIndex}}
          </mat-option>
        </ng-template>
      </div>
    </mat-select>
  </mat-form-field>

  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="createTenant()">Create</button>
  </div>

</div>
