h1 {
  color: rgb(85, 92, 213);
}

.column {
  float: left;
  width: 33.33%;
  background-color: rgb(201, 217, 222);
}

.row {
  border-width: 2px;
  border-bottom-width: 2px;
  border-bottom-color: white;
  border-bottom-style: solid;
}

  .row p {
      margin-bottom: 0;
  }

.row:after {
  content: "";
  display: table;
  clear: both;
}
