<div class="alert alert-danger" >
  This project does not have form input validation. Website may break if you input unexpeted values.
</div>
<div class="alert alert-warning" role="alert">
  <ul class="list-group list-group-flush">
    <li>Go to house/apartment/tenant pages through the links on navbar</li>
    <li>Create a house</li>
    <li>Create an apartment, assign it to a house</li>
    <li>Create a tenant, assign him to an apartment</li>
    <li>Edit your data if you wish</li>
  </ul>
</div>
