.column {
  float: left;
  width: 94%;
  background-color: rgb(201, 217, 222);
  padding-left: 0.5em;
  margin-left: 3%;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 40px;
  margin-left: -2%;
  margin-bottom: 0.5em;

  &button {
    &:focus, &:active {
      border: 0;
      outline: 0;
    }
  }
}

.example-button-container button:focus, .example-button-container button:active {
  border: 0;
  outline: 0;
}

.mat-accent {
  background-color: orangered;
  color: white;
}

#houses{
    position: relative;
}

#add-house-button{
    position: relative;
    left: 2em;
}

#edit-house-button {
  position: absolute;
  right: 4em;
  top: 5%;
}

#delete-house-button {
  position: absolute;
  right: 1em;
  top: 5%;
}

.row {
  border-width: 2px;
  border-bottom-width: 2px;
  border-bottom-color: white;
  border-bottom-style: solid;

  p {
    margin-bottom: 0;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
