<div style="border: 1px solid red" class="mb-2">Tenants Component</div>

<div class="example-button-container" id="add-tenant-button">
  <button mat-mini-fab color="accent" [routerLink]="['/create-tenant']" aria-label="Example icon button with a plus one icon">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="row">
  <div class="column">
    <h3>Tenant</h3>
  </div>
  <div class="column">
    <h3>Apartment</h3>
  </div>
  <div class="column">
    <h3>House</h3>
  </div>
</div>

<div *ngFor="let tenant of tenants" class="row">
  <div class="column">
    <!-- probably is possible to iterate over all properties of an object instead of hardcoding,
         but there are some properties I don't want to show on the page, so I will hardcode -->
    <p>name: {{tenant.firstName}}</p>
    <p>last name: {{tenant.lastName}}</p>
    <p>personal code: {{tenant.personalCode}}</p>
    <p>birthday(d-m-y): {{this.datepipe.transform(this.tenants[0].birthday, "dd-MM-yyyy")}}</p>
    <p>phone: {{tenant.phoneNumber}}</p>
    <p>e-mail: {{tenant.email}}</p>
  </div>
  <div class="column">
    <div *ngIf="tenant.apartment!=null; then apartmentThenBlock else apartmentElseBlock"></div>
    <ng-template #apartmentThenBlock>
      <p>number: {{tenant.apartment.number}}</p>
      <p>floor: {{tenant.apartment.floor}}</p>
      <p>rooms: {{tenant.apartment.amountOfRooms}}</p>
      <p>tenants: {{tenant.apartment.amountOfTenants}}</p>
      <p>area: {{tenant.apartment.totalArea}}&#13217;</p>
      <p>available area: {{tenant.apartment.availableArea}}&#13217;</p>
    </ng-template>
    <ng-template #apartmentElseBlock>none</ng-template>
  </div>
  <div class="column">
    <div *ngIf="tenant.apartment!=null && tenant.apartment.house!=null; then houseThenBlock else houseElseBlock"></div>
    <ng-template #houseThenBlock>
      <p>number: {{tenant.apartment.house.number}}</p>
      <p>street: {{tenant.apartment.house.street}}</p>
      <p>city: {{tenant.apartment.house.city}}</p>
      <p>country: {{tenant.apartment.house.country}}</p>
      <p>post index: {{tenant.apartment.house.postIndex}}</p>
    </ng-template>
    <ng-template #houseElseBlock>none</ng-template>
  </div>
</div>
